@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
}
.navbar{
  background-color:rgb(36, 216, 216);
}

.container-fluid{
  background-image: linear-gradient( #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1,#ba83ca, #c777b9, #d16ba5); 
} 

.container-child img{
  background-color:rgb(170, 27, 27);
  align-items: center;
  justify-content: center;
  margin-left: 40%;
}
.container{
  padding: 10px;
}
.show-wrapper {
  width: 100%;
  background-color: #109fa9;
  padding: 10px;
}

.input-show {
  padding: 10px;
  width: 400px;
  color: #626f70!important;
}

.input-show {
  color: #626f70!important;
}
