@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #d29de2;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
}
.navbar{
  background-color:rgb(36, 216, 216);
}

.container-fluid{
  background-image: linear-gradient(  #7ed8e4, #aa8fd8, #9a9ae1,#ba83ca , #7ed8e4); 
} 

.container-child img{
  background-color:rgb(170, 27, 27);
  align-items: center;
  justify-content: center;
  margin-left: 40%;
}
.container{
  padding: 10px;
}
.show-wrapper {
  width: 100%;
  background-color: #109fa9;
  padding: 10px;
}

.input-show {
  padding: 10px;
  width: 400px;
  color: #626f70!important;
}

.input-show {
  color: #626f70!important;
}
.classNotFound {
  width: 290px;
  height: 408px;
}
.card {
  box-shadow: rgba(226, 220, 220, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  transition: all 0.3s ease;
  border-radius: 15px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
 
}
